@model IEnumerable<Portfolio.Header>

@{
    ViewBag.Title = "Introduction Section";
}
<br />
<h2>Introduction Section</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create" , new {}, new { @class = "btn btn-warning" })
</p>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HeaderCategory.HeaderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Header1)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
             @Html.DisplayFor(modelItem => item.HeaderCategory.HeaderName)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.Header1)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-info" }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
        </td>


    </tr>
}

</table>
