@model Portfolio.SumaryTopic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SumaryTopic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SumaryTopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SumaryTopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SumaryCategory.SumaryCategory1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SumaryCategory.SumaryCategory1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
