@model Portfolio.AboutCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AboutCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AboutTopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutTopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutTopic1.TopicDescrption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutTopic1.TopicDescrption)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
